* {
	padding: 0px;
	margin: 0px;
}
body {
	width: 800px;
	height: 600px;
}

.selectSchools a {
	margin-right: 50px;
}
.selectSchools a:hover {
	text-decoration: underline;
	cursor: pointer;
}
div,mySchools {
	margin-bottom: 20px;
}
ul.selectedSchools {
	padding: 10px;
	border: dashed;
	text-decoration: none;
	list-style: none;
}

ul.selectedSchools li {
	display: inline-block;
	width: 115px;
	height: 65px;
	border-radius: 5px;
	border:solid 1px;
	background-color: #f4e219;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	position: relative;
}

ul.selectedSchools li.del {
	background-color: rgb(86, 247, 199);
}

ul.selectedSchools li span {
	display: none;
}

ul.selectedSchools li.del span {
	display: inline;
	position: absolute;
	top: -9px;
	left: -10px;
	font-size: 20px;
}